<!-- header -->
<div ng-include="'templates/header.html'"></div>
<div class="about-poster"></div>
<div class="wrap">
    <div class="section">
        <div class="section-header">
            About Skillopedia
        </div>
        <div class="section-content" style="font-size:18px">
            Skillopedia is a service to help you find your private tutors near you. We believe that Skillopedia is not only for that, but a life style for you to challenge yourself.
        </div>
    </div>
    <div class="section">
        <div class="section-header">
            Welcome to Skillopedia
        </div>
        <div class="section-content" style="font-size:18px">
            <p>Everybody has his own hobby, maybe it’s not your major, but you still love it and keep practicing it. What kind of person you would like to meet in this area? Tutors? Partners? Yes. You can find them here. They are the person just like you or want to help you. </p>
            <p>Develop your skills in skillopedia. We hope you try different courses then make fun or even find your talent.</p>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
