<!-- header -->
<div ng-include="'templates/header.html'"></div>
<link href="lib/css/account.css" rel="stylesheet"> 
<link href="lib/css/media.css" rel="stylesheet" />
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
        	<div class="tabs clearfix">
                <a class="tab-item pull-left active">Authenication</a>
            </div>
            <div class="authen-step">
                <div class="title-input">
                    <div class="m-session pull-left">
                        <span>Name</span>
                        <div class="course-input">
                            <input type="text" name="" id="" value="" class="full-width"/>
                        </div>
                    </div>
                    
                    <div class="m-session pull-right">
                        <span>Phone Number</span>
                        <div class="course-input">
                            <input type="text" name="" id="" value="" class="full-width"/>
                        </div>
                    </div>
                </div>

                <div class="title-input">
                    <div class="m-session pull-left">
                        <span>Gender</span>
                        <div class="input-select">
                            <select name="">
                                <option value=""></option>
                            </select>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="m-session pull-right">
                        <span>Date of Birth</span>
                        <div class="input-select">
                            <select name="">
                                <option value=""></option>
                            </select>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>

                    </div>
                </div>
                
                <div class="title-input">
                    <span>Government ID:</span>
                    <div class="authen-images">
                        <a class="images" href=""><img src="" class="full-width" alt=""></a>
                        <a class="images" href=""><img src="" class="full-width" alt=""></a>
                        <a class="images" href=""><img src="" class="full-width" alt=""></a>
                        <a class="images" href=""><img src="" class="full-width" alt=""></a>
                    </div>

                </div>
                
                
                <label>
                    Take a photo or selct one to upload you official ID,such as Driver license
                    passport.this information will not share with others. You should take your
                    picture like example above.
                </label>
                <div class="nextbtn-addr">
                    <div class="authen-authen">AUTHEN</div>
                </div>
            </div>
            <!-- 教练认证中 -->
            <div class="authen-step">
                <div class="authening">
                    <div class="authening-content">
                        <a class="images" href=""><img src="" class="full-width" alt=""></a>
                        <span>抱歉，</span>
                        <span>你还未成为SKILLOPEDIA!</span>
                        <span>你提交的资料审核不通过。</span>
                        <div></div>
                    </div>
                     <div class="nextbtn-addr">
                        <div class="authen-number">客服：400-300-300</div>
                        <div class="authen-recertification">重新认证</div>
                    </div>
                    <div class="anthen-tips">你还有2次机会认证
                </div>
                
                 
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
