<!-- header -->
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
        	<div class="tabs clearfix">
                <a class="tab-item pull-left active">Courses</a>
                <a class="tab-item pull-left" ng-href="#/orders_management">Orders</a>
                <a class="tab-item pull-left" ng-href="#/schedule">Schedule</a>
            </div>
            account coach course management
            <a ng-href="#/authenication" class="btn">认证</a>
            <a ng-href="#/create_course" class="btn">新建课程</a>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
