<!-- header -->
<div ng-include="'templates/header.html'"></div>
<div class="about-poster"></div>
<div class="contact-body">
    <div class="wrap">
        <div class="section">
            <div class="col-xs-4">
                <div class="section-title">
                    Contact Us
                </div>
                <p>Let us help make a lasting impression on you.Tell us about you project and let's begin!</p>
                <p><b>HeadQuarters</b></p>
                <p>212B Baker St Marylebone, London UK</p>
                <p><b>HeadQuarters</b></p>
                <p><i class="fa fa-phone webfont" aria-hidden="true"></i>213-123-4567</p>
                <p><i class="fa fa-envelope webfont" aria-hidden="true"></i>2818921504@qq.com</p>
            </div>
            <div class="col-xs-8">
                <div class="col-xs-5">
                    <p>Fullname</p>
                    <div class="skill-input">
                        <input type="text" placeholder="enter your fullname" class="full-width">
                    </div>
                </div>
                <div class="col-xs-5 col-xs-offset-1">
                    <p>Email</p>
                    <div class="skill-input">
                        <input type="text" placeholder="enter your email" class="full-width">
                    </div>
                </div>
                <p class="col-xs-12">tell us someghing</p>
                <div class="skill-input col-xs-11">
                    <textarea name="" id="" cols="30" rows="10" placeholder="say something..." class="full-width"></textarea>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-lg">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div ng-include="'templates/footer.html'"></div>
</div>
