<!-- header -->
<script src="lib/js/index.js"></script>
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section detail-section">
        <div class="detail-left">
            <div class="coach-item">
                <div class="coach-avatar">
                    <img src="images/avatar.png" class="full-width" alt="">
                </div>
                <div class="coach-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laudantium reiciendis, eos blanditiis. Beatae praesentium sint recusandae quam blanditiis molestias eligendi quidem dolores delectus non odio, amet reiciendis similique nihil.</p>
                    <div class="star">
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="coach-meta"><span><i class="fa fa-bars" aria-hidden="true"></i>football</span><span><i class="fa fa-user" aria-hidden="true"></i>by dribehace</span><span><i class="fa fa-map-marker" aria-hidden="true"></i>newyowk</span></div>
                </div>
            </div>
            <div class="section sm">
                <div class="section-title">Ddetail</div>
                <div class="section sm">
                    <span class="pull-left">Teaching:since Jun 2007</span>
                    <span class="pull-right">Session Duration 60min</span>
                </div>
                <div class="clearfix">
                    <span class="pull-left">Teaching:since Jun 2007</span>
                    <span class="pull-right">Session Duration 60min</span>
                </div>
            </div>
            <div class="line"></div>
            <div class="section sm">
                <div class="section-title">Photo and Video</div>
                <!-- <button id="openpopup">open</button> -->
                <div class="image-gallaxy clearfix">
                    <a class="image" href="../images/affinity.jpeg">
                        <img src="../images/affinity.jpeg" class="full-width" alt="">
                    </a>
                    <a class="image" href="../images/cinelli-front.jpeg">
                        <img src="../images/cinelli-front.jpeg" class="full-width" alt="">
                    </a>
                    <a class="image" href="../images/affinity.jpeg">
                        <img src="../images/affinity.jpeg" class="full-width" alt="">
                    </a>
                    <a class="image" href="../images/banner.png">
                        <img src="../images/banner.png" class="full-width" alt="">
                    </a>
                </div>
                <div class="videos">
                    <div class="video">
                        <iframe src="//www.youtube.com/embed/-YfVRbGccLc?autoplay=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="video">
                        <iframe src="//www.youtube.com/embed/mibCkK1nDpI?autoplay=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="section sm">
                <div class="section-title">Certification</div>
                <div class="image-gallaxy clearfix">
                    <a class="image" href="../images/affinity.jpeg">
                        <img src="../images/affinity.jpeg" class="full-width" alt="">
                    </a>
                    <a class="image" href="../images/cinelli-front.jpeg">
                        <img src="../images/cinelli-front.jpeg" class="full-width" alt="">
                    </a>
                    <a class="image" href="../images/affinity.jpeg">
                        <img src="../images/affinity.jpeg" class="full-width" alt="">
                    </a>
                    <a class="image" href="../images/people.jpeg">
                        <img src="../images/people.jpeg" class="full-width" alt="">
                    </a>
                </div>
            </div>
            <div class="line"></div>
            <div class="section sm">
                <div class="section-title">Overview</div>
                <div class="overview">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem molestias cumque, dolore assumenda recusandae nobis at harum suscipit temporibus aliquid laudantium, minima aspernatur inventore omnis laboriosam labore, numquam iste earum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam laboriosam harum repudiandae suscipit omnis. Consequuntur obcaecati nulla iste quisquam, officia tempora aliquid esse deleniti iure ex similique, debitis culpa illum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorem, quasi corrupti obcaecati, veritatis hic sapiente ea consectetur porro sed delectus doloremque vitae numquam dicta. Libero voluptatem sunt aliquam eum!
                </div>
            </div>
            <div class="line"></div>
            <div class="section sm">
                <div class="section-title">Comments</div>
                <div class="overview">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem molestias cumque, dolore assumenda recusandae nobis at harum suscipit temporibus aliquid laudantium, minima aspernatur inventore omnis laboriosam labore, numquam iste earum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam laboriosam harum repudiandae suscipit omnis. Consequuntur obcaecati nulla iste quisquam, officia tempora aliquid esse deleniti iure ex similique, debitis culpa illum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorem, quasi corrupti obcaecati, veritatis hic sapiente ea consectetur porro sed delectus doloremque vitae numquam dicta. Libero voluptatem sunt aliquam eum!
                </div>
            </div>
        </div>
        <div class="detail-right">
            <div class="settlement">
                <p class="price text-center">$100</p>
                <p class="text-center">per session 60min</p>
                <p class="clearfix">
                    购买数量
                    <span class="pull-right">
        			<span class="minus">-</span>
                    <span class="amount">5</span>
                    <span class="plus">+</span>
                    </span>
                </p>
                <p class="text-center">
                    <span class="btn btn-second"><i class="fa fa-heart-o" aria-hidden="true" style="margin-right: 8px"></i>like</span>
                    <span class="btn btn-primary">add to cart</span>
                    <span class="btn btn-success">pay now</span>
                </p>
            </div>
            <div class="section sm">
            	<!-- <div ng-include="'templates/calendar.html'"></div> -->
                <calendar calendar="calendar"></calendar>
                <div ng-click="calendar.remove(select)" ng-repeat="select in calendar.selected">
                    {{select.from.hour}} to {{select.to.hour}}
                </div>
            </div>
            <div class="section sm map-section">
                <div class="section-title">Teaching location</div>
                <iframe src="https://maps.google.com/maps?q=Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom&output=embed" class="map" height="300px" frameborder="0" allowfullscreen></iframe>
                <p>Baker St Marylebone, London UK</p>
                <span>specific location will show up after your payment</span>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
