<!-- header -->
<script src="lib/js/main.js"></script>
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section detail-section">
        <div class="detail-left">
            <a class="coach-item" ng-href="#/show?user_id={{course.user_id}}">
                <div class="coach-avatar">
                    <!-- <img ng-src="{{staticImageUrl + course.user_image_01}}" class="full-width" alt="" err-src="../images/example_7.png"> -->
                    <imageview data-rate="1" center-only src="staticImageUrl + course.user_image_01"></imageview>
                    <span class="official-coach" ng-if="course.is_official"></span>
                </div>
                <div class="coach-info">
                    <div class="auto-title text-ellipsis">{{course.title}}</div>
                    <div style="margin-bottom:10px;">{{course.nickname}}</div>
                    <div class="star text-ellipsis">
                        <i class="fa fa-star" ng-class="{'active':course.total_score >0}" aria-hidden="true"></i>
                        <i class="fa fa-star" ng-class="{'active':course.total_score >1}" aria-hidden="true"></i>
                        <i class="fa fa-star" ng-class="{'active':course.total_score >2}" aria-hidden="true"></i>
                        <i class="fa fa-star" ng-class="{'active':course.total_score >3}" aria-hidden="true"></i>
                        <i class="fa fa-star" ng-class="{'active':course.total_score >4}" aria-hidden="true"></i>
                        <span ng-if="course.total_coment_num >0">共{{course.total_coment_num}}条评价</span>
                        <span ng-if="course.total_coment_num ==0">暂无评价</span>
                    </div>
                    <div class="coach-meta"><span><i class="fa fa-bars" aria-hidden="true"></i>{{course.category_02_name}}</span><!-- <span><i class="fa fa-user" aria-hidden="true"></i>by {{course.nickname}}</span> --><span><i class="fa fa-map-marker" aria-hidden="true"></i>{{course.area}}</span></div>
                </div>
            </a>
            <div class="section sm">
                <div class="section-title">Detail</div>
                <p class="clearfix">
                    <span class="pull-left">Teaching: since {{course.teaching_since}}</span>
                    <span class="pull-right">Session Duration: {{course.session_length}}min</span>
                </p>
                <p class="clearfix">
                    <span class="pull-left">Group Session: Up to {{course.additional_partner}}</span>
                    <span class="pull-right">Teaches: Age {{course.teaching_age}} and up</span>
                </p>
                <div class="clearfix">
                    <span class="pull-left" ng-if="course.travel_to_session == '1'">Travel: Yes</span>
                    <span class="pull-left" ng-if="course.travel_to_session == '0'">Travel: No</span>
                    <span class="pull-right" ng-if="course.travel_to_session == '1'">Travel Distance: {{course.travel_to_session_distance}} miles</span>
                </div>
            </div>
            <div class="line"></div>
            <div class="section sm">
                <div class="section-title">About coach</div>
                <div class="overview">
                    {{course.overview}}
                </div>
            </div>
            <div class="line"></div>
            <div class="section sm">
                <div class="section-title">Photo and Video</div>
                <!-- <button id="openpopup">open</button> -->
                <div class="image-gallaxy clearfix">
                    <a class="image" href="{{staticImageUrl + photo.image_01}}" ng-repeat="photo in course.CourseBanners">
                        <img ng-src="{{staticImageUrl + photo.image_01}}" class="full-width" alt="" err-src="../images/error.jpg">
                    </a>
                </div>
                <div class="videos">
                    <div class="video" ng-repeat="video in course.CourseVedios">
                        <iframe ng-src="{{get_video(video.vedio_url)}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="section sm">
                <div class="section-title">Certification</div>
                <div class="image-gallaxy clearfix">
                    <a class="image" href="{{staticImageUrl + certification.image_01}}" ng-repeat="certification in course.CourseCertifications">
                        <img ng-src="{{staticImageUrl + certification.image_01}}" class="full-width" alt="" err-src="../images/error.jpg">
                    </a>
                </div>
            </div>
            <div class="line"></div>
            <div class="section sm">
                <div class="section-title">{{total_comments}} Comments</div>
                <div class="comments">
                    <div class="comment-item" ng-repeat="comment in comments">
                        <div class="comment-header">
                            <div class="comment-avatar">
                                <imageview data-rate="1" center-only src="staticImageUrl+comment.comment_image"></imageview>
                            </div>
                            <div class="comment-meta">
                                <span class="comment-name">
                                    {{comment.comment_name}}
                                </span>
                                <div class="clearfix text-ellipsis">
                                    <span class="pull-left">
                                        <i class="fa fa-star" ng-class="{'text-primary':comment.total_score >0}" aria-hidden="true"></i>
                                        <i class="fa fa-star" ng-class="{'text-primary':comment.total_score >1}" aria-hidden="true"></i>
                                        <i class="fa fa-star" ng-class="{'text-primary':comment.total_score >2}" aria-hidden="true"></i>
                                        <i class="fa fa-star" ng-class="{'text-primary':comment.total_score >3}" aria-hidden="true"></i>
                                        <i class="fa fa-star" ng-class="{'text-primary':comment.total_score >4}" aria-hidden="true"></i>
                                    </span>
                                    <span class="pull-right">专业技能{{to_fix(comment.pro_skill)}} 教学环境 {{to_fix(comment.teaching_environment)}}教学态度 {{to_fix(comment.teaching_attitude)}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-content">
                            {{comment.note}}
                            <div class="comment-reply" ng-if="comment.is_reply">
                                <b>coach reply:</b>{{comment.commentReply_content}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section text-center">
                <span class="btn btn-lg" ng-click="loadMore()">{{page.message}}</span>
            </div>
            </div>
        </div>
        <div class="detail-right">
            <div class="settlement">
                <p class="price text-center">{{course.session_rate|currency:"$"}}</p>
                <p class="text-center"> {{course.session_length}} mins per session</p>
                <!-- <p class="clearfix settlement-action">
                    购买数量
                    <span class="pull-right">
                    <span class="settlement-minus">-</span>
                    <span class="settlement-amount">5</span>
                    <span class="settlement-plus">+</span>
                    </span>
                </p> -->
                <p class="text-center">
                    <span class="btn btn-second" ng-click="like()"><i class="fa fa-heart-o" aria-hidden="true" style="margin-right: 8px"></i>like</span>
                    <a class="btn btn-primary" ng-href="#/fillinorder?course_id={{course.course_id}}">add to cart</a>
                    <a class="btn btn-success" ng-href="#/fillinorder?course_id={{course.course_id}}">pay now</a>
                </p>
            </div>
            <div class="section sm">
                <!-- <div ng-include="'templates/calendar.html'"></div> -->
                <calendar calendar="calendar" class="small-calendar"></calendar>
                <!-- <span class="calender-tip unavailable">不可预约</span> -->
                <span class="calender-tip confirm">booked</span>
                <span class="calender-tip busy">unavailable</span>
            </div>
            <div class="section sm map-section">
                <div class="section-title">Teaching location</div>
                <!-- <iframe ng-src="{{get_map()}}" class="map" height="300px" frameborder="0" allowfullscreen></iframe> -->
                <div style="height:300px;border:1px solid #d2d2d2" id="map"></div>
                <!-- <p>{{course.street+" , "+course.area+" , "+course.city}}</p> -->
                <p>travel: 
                    <span ng-if="course.travel_to_session == '1'">yes</span>
                    <span ng-if="course.travel_to_session == '0'">no</span>
                </p>
                <p ng-if="course.travel_to_session == '1'">travel distance: {{course.travel_to_session_distance}}miles</p>
                <span>specific location will show up after your payment</span>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
