<!-- header -->
<link href="lib/css/account.css" rel="stylesheet">
<link href="lib/css/media.css" rel="stylesheet" />
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section">
        <form class="crease_coursewrap" name="createCourseForm" ng-submit="ajaxForm()">
            <!-- 新建课程第1步 -->
            <div class="step" ng-show="step == 1" ng-form="stepForm1">
                <img ng-src="../images/step_1.png" class="full-width" alt="">
                <div class="title-input">
                    <span><b class="text-danger"> * </b>Course Title</span>
                    <div class="course-input">
                        <input type="text" name="title" ng-model="input.title" ng-required="true" placeholder="enter course title" class="full-width" />
                    </div>
                </div>
                <div class="title-input">
                    <span><b class="text-danger"> * </b>Category</span>
                    <!-- 下拉框 -->
                    <div class="m-session pull-left clearfix">
                        <div class="">
                            <div class="input-select">
                                <select name="category_1" ng-model="input.category_1" ng-options="c1.name for c1 in category_1"></select>
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="m-session pull-right clearfix">
                        <div class="input-select">
                            <select name="category_2" ng-model="input.category_2" ng-options="c2.name for c2 in category_2[input.category_1.name]"></select>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="title-input">
                    <span><b class="text-danger" ng-if="input.certs.length>0"> * </b>Certification</span>
                    <div class="course-itemwrap clearfix">
                        <div class="course-items pull-left" ng-repeat="cert in input.certs">
                            <div class="course-item" ng-form="certForm">
                                <div class="imgwrap" flow-init="{singleFile:true}" flow-attrs="{accept:'image/*'}" ng-controller="uploadController">
                                    <img ng-src="{{staticImageUrl+cert.url}}" flow-btn flow-img="$flow.files[0]" class="full-width full-height" />
                                    <input type="hidden" name="cert_url" ng-model="cert.url" required>
                                </div>
                                <div class="course-input">
                                    <input type="text" name="cert_title" ng-model="cert.title" class="full-width" placeholder="Certification Name" />
                                </div>
                                <div class="course-input">
                                    <datepicker date-format="MMM dd, yyyy">
                                        <input type="text" name="cert_time" ng-model="cert.time" class="full-width" placeholder="Effective Time Certification, eg: May 12,2000" readonly/>
                                    </datepicker>
                                </div>
                                <div class="course-input">
                                    <input type="text" name="cert_institute" ng-model="cert.institute" class="full-width" placeholder="Institute" />
                                </div>
                                <a class="btn btn-danger" ng-click="remove_cert(cert)">remove</a>
                                <a class="btn btn-success pull-right" ng-if="cert.id==''" ng-click="ajaxCert(cert,certForm)" ng-disabled="certForm.$invalid">upload</a>
                                <a class="btn btn-warning pull-right" ng-if="cert.id!=''" ng-click="editCert(cert,certForm)" ng-disabled="certForm.$invalid">update</a>
                            </div>
                        </div>
                        <div class="course-items pull-left">
                            <div class="course-item" ng-click="add_cert()">
                                <div class="imgwrap">
                                    <img src="../images/upload.png" class="full-width full-height" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-input">
                    <span><b class="text-danger"> * </b>Poster</span>
                    <!-- <div class="open-img">
                        <img ng-src="{{staticImageUrl + input.poster}}" class="full-width full-height" err-src="../images/error.jpg" alt="">
                        <input type="hidden" name="poster" ng-model="input.poster" required>
                        <a ng-click="remove_cover(cover)" class="remove"><i class="fa fa-times"></i></a>
                    </div> -->
                    <div class="open-img" flow-init="{singleFile:true}" ng-controller="uploadPosterController" flow-btn>
                        <img ng-src="{{staticImageUrl + input.poster}}" flow-img="$flow.files[0]" class="full-width full-height" alt="">
                    </div>
                </div>
                <div class="title-input">
                    <span>Picture</span>
                    <div class="open-img" ng-repeat="cover in input.covers track by $index" ng-form="coverForm">
                        <img ng-src="{{staticImageUrl + cover}}" class="full-width full-height" err-src="../images/error.jpg" alt="">
                        <input type="hidden" name="cover" ng-model="cover">
                        <a ng-click="remove_cover(cover)" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="open-img" flow-init="{singleFile:true}" ng-controller="uploadCoversController" flow-btn>
                        <img ng-src="../images/upload.png" class="full-width full-height" alt="">
                    </div>
                </div>
                <div class="title-input">
                    <span><b class="text-danger" ng-if="input.videos.length>0"> * </b>video,eg <code class="text-primary">http://www.youtube.com/watch?v=xxx</code><div class="pull-right" ng-click="add_video()"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 26px;color: #00E370;"></i></div></span>
                    <div class="remove-input" ng-repeat="video in input.videos track by $index" ng-form="videoForm" style="margin-bottom:15px;">
                        <input type="text" ng-model="video.url" class="full-width" ng-required="true" placeholder="http://www.youtube.com/watch?v=xxx" />
                        <div class="course-videoremove" ng-click="remove_video(video)">remove</div>
                    </div>
                </div>
                <div class="title-input">
                    <span class="clearfix"><b class="text-danger"> * </b>Overview</span>
                    <textarea class="full-width" rows="8" name="overview" ng-model="input.overview" ng-required="true" placeholder="overview"></textarea>
                </div>
                <div class="section text-center">
                    <button type="button" class="btn btn-success col-xs-4 btn-md col-xs-offset-4" ng-click="show_step(2)" ng-disabled="createCourseForm.stepForm1.$invalid">Next</button>
                </div>
                <div class="section text-center text-danger">
                    <div ng-if="stepForm1.title.$invalid &&stepForm1.$dirty">* 课程必填</div>
                    <div ng-if="stepForm1.certForm.$invalid &&stepForm1.$dirty">* 证书必须上传</div>
                    <div ng-if="stepForm1.videoForm.$invalid &&stepForm1.$dirty">* 如果选择上传视频，视频链接必填</div>
                    <div ng-if="stepForm1.overview.$invalid &&stepForm1.$dirty">* 简介必填</div>
                </div>
            </div>
            <!-- 新建课程第2步 -->
            <div class="step" ng-show="step == 2" ng-form="stepForm2">
                <!-- 步骤框 -->
                <img ng-src="../images/step_2.png" class="full-width" alt="">
                <div class="title-input">
                    <div class="m-session pull-left">
                        <span><b class="text-danger"> * </b>Session Length</span>
                        <!-- 下拉框 -->
                        <div class="course-select">
                            <select name="course_duration" ng-model="input.course_duration" ng-options="course_duration for course_duration in course_durations"></select>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="m-session pull-right">
                        <span><b class="text-danger"> * </b>Experienced Year</span>
                        <div class="course-select">
                            <select name="course_duration" ng-model="input.teaching_since">
                                <option value="">请选择</option>
                                <option value="1+">1+</option>
                                <option value="3+">3+</option>
                                <option value="5+">5+</option>
                                <option value="8+">8+</option>
                                <option value="10+">10+</option>
                                <option value="15+">15+</option>
                            </select>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                            <!-- <input type="text" name="teaching_since" ng-model="input.teaching_since" ng-required="true" class="full-width pickadate" placeholder="Experienced Year" class="full-width" /> -->
                        </div>
                    </div>
                </div>
                <!-- session -->
                <div class="title-input">
                    <div class="clearfix">
                        <div class="m-session pull-left">
                            <span><b class="text-danger"> * </b>Session Rate($) <b class="text-danger" ng-if="stepForm2.rate.$invalid && stepForm2.rate.$dirty"> (Number Only) </b></span>
                            <div class="u-input">
                                <input type="number" name="rate" ng-model="input.rate" ng-required="true" ng-pattern="/^\d+$/" class="full-width" placeholder="session rate" class="full-width" />
                            </div>
                        </div>
                        <div class="m-session pull-right">
                            <span><b class="text-danger"> * </b>Teaching age<b class="text-danger" ng-if="stepForm2.teaching_age.$invalid && stepForm2.teaching_age.$dirty"> (Number Only) </b></span>
                            <div class="course-select">
                                <select name="course_duration" ng-model="input.teaching_age">
                                    <option value="">请选择</option>
                                    <option value="4+">4+</option>
                                    <option value="7+">7+</option>
                                    <option value="15+">15+</option>
                                    <option value="18+">18+</option>
                                </select>
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                <!-- <input type="number" name="teaching_age" ng-model="input.teaching_age" ng-required="true" ng-pattern="/^\d+$/" class="full-width" placeholder="teaching age" class="full-width" /> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- session -->
                <div class="title-input">
                    <div class="clearfix">
                        <div class="m-session pull-left">
                            <span><b class="text-danger"> * </b>Additional partner<b class="text-danger" ng-if="stepForm2.partner.$invalid && stepForm2.partner.$dirty"> (Number Only) </b></span>
                            <div class="u-input">
                                <input type="number" name="partner" ng-model="input.partner" ng-required="true" ng-pattern="/^\d+$/" class="full-width" placeholder="partner limit" class="full-width" />
                            </div>
                        </div>
                        <div class="m-session pull-right">
                            <span><b class="text-danger"> * </b>Surcharge for each<b class="text-danger" ng-if="stepForm2.surcharge.$invalid && stepForm2.surcharge.$dirty"> (Number Only) </b></span>
                            <div class="u-input">
                                <input type="number" name="surcharge" ng-model="input.surcharge" ng-required="true" ng-pattern="/^\d+$/" class="full-width" placeholder="Surcharge for each,($)" class="full-width" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-input">
                    <span><b class="text-danger" ng-if="input.discounts.length>0"> * </b>Discount</span>
                    <div class="course-itemwrap clearfix">
                        <div class="course-items pull-left" ng-repeat="discount in input.discounts">
                            <div class="course-item" ng-form="byMoneyForm">
                                <div class="course-item-header">
                                    <span>one-time buy {{discount.purchase||"xxx"}} course</span>
                                    <span>get {{discount.off||"xxx"}} off</span>
                                    <span><b class="text-danger" ng-if="(byMoneyForm.purchase.$invalid && byMoneyForm.purchase.$dirty) || (byMoneyForm.off.$invalid && byMoneyForm.off.$dirty)"> (Number Only) </b></span>
                                </div>
                                <div class="course-input">
                                    <input type="number" class="full-width" name="purchase" ng-model="discount.purchase" ng-required="true" ng-pattern="/^\d+$/" placeholder="course quantity" />
                                </div>
                                <div class="course-input">
                                    <input type="number" class="full-width" name="off" ng-model="discount.off" ng-required="true" ng-pattern="/^\d+$/" placeholder="discount amount" />
                                </div>
                                <!-- <div class="course-edit" ng-click="remove_discount(discount)">remove</div> -->
                            </div>
                        </div>
                        <div class="course-items pull-left">
                            <div class="course-item" ng-if="input.discounts.length<3" ng-click="add_discount()">
                                <div class="imgwrap" style="height:120px">
                                    <img src="../images/upload.png" class="full-width full-height" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section text-center">
                    <button type="button" class="btn btn-default col-xs-3 btn-md col-xs-offset-2" ng-click="show_step(1)">Last step</button>
                    <button type="button" class="btn btn-success col-xs-3 btn-md col-xs-offset-1" ng-click="show_step(3)" ng-disabled="createCourseForm.stepForm2.$invalid">Next</button>
                </div>
                <div class="section text-center text-danger">
                    <div ng-if="stepForm2.rate.$invalid &&stepForm2.$dirty">* Session rate is number required</div>
                    <div ng-if="stepForm2.teaching_since.$invalid &&stepForm2.$dirty">* Experienced year is required</div>
                    <div ng-if="stepForm2.teaching_age.$invalid &&stepForm2.$dirty">* Teaching age is required</div>
                    <div ng-if="stepForm2.partner.$invalid &&stepForm2.$dirty">* Parter is number required</div>
                    <div ng-if="stepForm2.surcharge.$invalid &&stepForm2.$dirty">* Surcharge is number required</div>
                    <div ng-if="stepForm2.byMoneyForm.$invalid &&stepForm2.$dirty">* Discount is number required</div>
                </div>
            </div>
            <!-- 新建课程第3步 -->
            <div class="step" ng-show="step == 3" ng-form="stepForm3">
                <img ng-src="../images/step_3.png" class="full-width" alt="">
                <div class="title-input">
                    <span><b class="text-danger"> * </b>Travel to Sessions</span>
                    <div class="m-check clearfix">
                        <label class="u-check" ng-class="{'text-primary':input.travel_to_session == '1'}">
                            <input type="radio" class="hide" ng-model="input.travel_to_session" value="1">
                            <i class="btn fa fa-circle-o"></i>Yes,i am willing to travel to session
                        </label>
                        <label class="u-check" ng-class="{'text-primary':input.travel_to_session == '0'}">
                            <input type="radio" class="hide" ng-model="input.travel_to_session" value="0">
                            <i class="btn fa fa-circle-o"></i> Noop,i am not willing to travel session
                        </label>
                    </div>
                </div>
                <!-- session -->
                <div class="title-input" ng-if="input.travel_to_session == '1'">
                    <div class="clearfix">
                        <div class="m-session pull-left">
                            <span><b class="text-danger"> * </b>Travel Distance<b class="text-danger" ng-if="stepForm3.distance.$invalid && stepForm3.distance.$dirty"> (Number Only) </b></span>
                            <div class="u-input">
                                <input type="number" name="distance" ng-model="input.distance" ng-required="true" ng-pattern="/^\d+$/" class="full-width" placeholder="travel distance(miles)" class="full-width" />
                            </div>
                        </div>
                        <div class="m-session pull-right">
                            <span><b class="text-danger"> * </b>Traffic Cost<b class="text-danger" ng-if="stepForm3.traffic_cost.$invalid && stepForm3.traffic_cost.$dirty"> (Number Only) </b></span>
                            <div class="u-input">
                                <input type="number" name="traffic_cost" ng-model="input.traffic_cost" ng-required="true" ng-pattern="/^\d+$/" class="full-width" placeholder="travel cost" class="full-width" />
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="location_mode == 'preview'">
                    <div class="title-input">
                        <span>Location</span>
                        <div class="clearfix">
                            <div class="location">
                                <label class="pull-left">{{format_address}}</label>
                                <div class="course-location pull-right" ng-click="edit_location()">Edit Location</div>
                            </div>
                        </div>
                        <div class="section sm map-section">
                            <!-- <iframe ng-src="{{map_url}}" class="map" height="300px" frameborder="0" allowfullscreen></iframe> -->
                            <div style="height:300px;border:1px solid #d2d2d2" id="map"></div>
                        </div>
                    </div>
                    <div class="section text-center">
                        <button type="button" class="btn btn-default col-xs-3 btn-md col-xs-offset-2" ng-click="show_step(2)">Last step</button>
                        <button class="btn btn-success col-xs-3 btn-md col-xs-offset-1" type="button" ng-disabled="stepForm3.$invalid" ng-click="show_step(4)">Next</button>
                    </div>
                </div>
                <div ng-show="location_mode == 'edit'" ng-form="locationForm">
                    <div class="title-input">
                        <span><b class="text-danger"> * </b>Location</span>
                        <div class="course-input">
                            <input type="text" name="street" ng-model="input.street" ng-required="true" class="full-width" placeholder="Street Address e.g 123 Main St" />
                        </div>
                        <div class="course-input z-margin">
                            <input type="text" name="apt" ng-model="input.apt" class="full-width" placeholder="APt,Suite,Bldg.e.g Apt #7 (Not Required)" />
                        </div>
                    </div>
                    <div class="title-input clearfix">
                        <div class="m-session z-margin pull-left">
                            <div class="u-input">
                                <input type="text" name="city" ng-model="input.city" class="full-width" placeholder="City.e.g.San Francisco" />
                            </div>
                        </div>
                        <div class="m-session z-margin pull-right">
                            <div class="u-input">
                                <input type="text" name="state" ng-model="input.state" ng-required="true" class="full-width" placeholder="State e.. CA" />
                            </div>
                        </div>
                    </div>
                    <div class="m-session z-margin">
                        <div class="u-input" style="position:relative">
                            <input type="text" name="zipcode" ng-model="input.zipcode" ng-required="true" class="full-width" placeholder="Zip code e.g. 94103" />
                            <!-- <div class="zipcode-suggestion" ng-if="input.zipcode && input.suggestions.length>0">
                                <span class="suggestion-item" ng-repeat="suggestion in input.suggestions | filter:input.zipcode" ng-click="select(suggestion)">{{suggestion.zipcode}}</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="section text-center">
                        <button type="button" class="btn btn-default col-xs-3 btn-md col-xs-offset-2" ng-click="show_step(2)">Last step</button>
                        <button type="button" class="btn btn-danger col-xs-3 btn-md col-xs-offset-1" ng-click="save_location()" ng-disabled="locationForm.$invalid">Save</button>
                    </div>
                    <div class="section text-center text-danger">
                        <div ng-if="stepForm3.distance.$invalid &&stepForm3.$dirty">* Travel distance is number required</div>
                        <div ng-if="stepForm3.traffic_cost.$invalid &&stepForm3.$dirty">* traffic_cost number is required</div>
                        <div ng-if="stepForm3.locationForm.$invalid &&stepForm3.$dirty">* street,city,state is required</div>
                    </div>
                </div>
                <div class="course-tips">
                    travel to session if you choose yes,means you are agree with travel terms.
                </div>
            </div>
            <!-- 新建课程 第四步 -->
            <div class="step" ng-show="step == 4" ng-form="stepForm4">
                <img ng-src="../images/step_4.png" class="full-width" alt="">
                <div class="title-input">
                    <div class="clearfix">
                        <div class="m-session pull-left">
                            <span><b class="text-danger"> * </b>Start Time</span>
                            <div class="input-select">
                                <select name="start_time" ng-model="input.start_time" ng-options="time_slot.slot as time_slot.time for time_slot in time_slots">
                                </select>
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="m-session pull-right">
                            <span><b class="text-danger"> * </b>End time</span>
                            <div class="input-select">
                                <select name="end_time" ng-model="input.end_time" ng-options="time_slot.slot as time_slot.time for time_slot in end_time_slots">
                                </select>
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-input">
                    <span>Weekly,You could deselect the day your want you course off</span>
                    <div class="btn-group">
                        <a class="btn btn-default btn-lg" ng-repeat="week in input.weeks" ng-click="select_week(week)" ng-class="{'btn-primary':week.select}">{{week.day}}</a>
                    </div>
                </div>
                <div class="section text-center">
                    <button type="button" class="btn btn-default col-xs-3 btn-md" ng-click="show_step(3)">Last step</button>
                    <button class="btn btn-danger col-xs-3 btn-md col-xs-offset-1" type="submit" ng-disabled="createCourseForm.$invalid">Finsh</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
