<!-- header -->
<link href="lib/css/account.css" rel="stylesheet" />
<link href="lib/css/media.css" rel="stylesheet" />
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section detail-section">
        <!-- left -->
        <div class="detail-left">
            <div class="coach-item">
                <div class="coach-avatar">
                    <!-- <img ng-src="{{staticImageUrl + course.user_image_01}}" class="full-width" alt="" err-src="../images/example_7.png"> -->
                    <imageview data-rate="1" center-only src="staticImageUrl + course.user_image_01"></imageview>
                    <span class="official-coach" ng-if="course.is_official"></span>
                </div>
                <div class="coach-info">
                    <div class="auto-title text-ellipsis">{{course.title}}</div>
                    <div style="margin-bottom:10px;" class="text-transform">{{course.nickname}}</div>
                    <span class="pull-right text-primary text-big">{{course.session_rate|currency:"$"}}</span>
                    <div class="star text-ellipsis">
                        <i class="fa fa-star" ng-class="{'active':course.total_score >0}" aria-hidden="true"></i>
                        <i class="fa fa-star" ng-class="{'active':course.total_score >1}" aria-hidden="true"></i>
                        <i class="fa fa-star" ng-class="{'active':course.total_score >2}" aria-hidden="true"></i>
                        <i class="fa fa-star" ng-class="{'active':course.total_score >3}" aria-hidden="true"></i>
                        <i class="fa fa-star" ng-class="{'active':course.total_score >4}" aria-hidden="true"></i>
                        <span>{{course.total_coment_num || "0"}} reviews</span>
                        <!-- <span ng-if="course.total_coment_num ==0">暂无评价</span> -->
                    </div>
                    <div class="coach-meta"><span><i class="fa fa-bars" aria-hidden="true"></i>{{course.category_02_name}}</span>
                        <!-- <span><i class="fa fa-user" aria-hidden="true"></i>by {{course.nickname}}</span> --><span><i class="fa fa-map-marker" aria-hidden="true"></i>{{course.area}}</span></div>
                </div>
            </div>
            <div class="section sm">
                <div class="section-title">
                    Travel location
                </div>
                <div ng-if="input.travel_location == '1'"><span class="btn" ng-click="edit()">You want to have you course at : {{format_address}}</span></div>
                <a class="btn text-success" ng-if="course.travel_to_session == '1'" ng-click="edit()"><span class="text-transform">{{course.nickname}}</span> offer travel to session ,edit location!</a>
                <a class="btn text-danger" ng-if="course.travel_to_session != '1'"><span class="text-transform">{{course.nickname}}</span> does not offer travel service</a>
            </div>
            <div class="section sm">
                <div class="section-title" ng-if="course.is_stop_course == '1'">
                    注意：教练已停课
                </div>
                <div class="section-title" ng-if="course.is_stop_course != '1'">
                    Booking your preferred time
                </div>
                <div class="calendar-wrap">
                    <calendar calendar="calendar" class="calendar-left"></calendar>
                    <div class="calendar-right">
                        <div class="calenader-result">
                            <p class="text-center">schedule</p>
                            <div class="result-item" ng-click="calendar.remove(select)" ng-repeat="select in calendar.selected">
                                <i class="pull-right fa fa-times"></i>
                                <div>{{select.from.day}}</div>
                                {{get_from_time(select.from.hour)}} to {{get_to_time(select.to.hour)}}
                            </div>
                            <div class="result-item" ng-if="calendar.selected.length==0">
                                your booking time will show here!
                            </div>
                            <div class="result-item" ng-if="calendar.selected.length>0">
                                you total can book {{calendar.size}} course ! you can change the amount before you can book more!
                            </div>
                        </div>
                        <div class="text-center">
                            <!-- <span class="calender-tip unavailable">不可预约</span> -->
                            <span class="calender-tip confirm">booked</span>
                            <span class="calender-tip busy">unavailable</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section sm">
                <div class="section-title">
                    Teaching Location
                </div>
                <div class="section-content">
                    <!-- <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod libero impedit dolorum iure. Eos sint autem nostrum culpa quas eius, quidem animi laborum ratione cupiditate. Aspernatur minus vitae sint totam!</p> -->
                    <!-- <p>{{course.street+" , "+course.area+" , "+course.city}}</p> -->
                    <p>specific location will show up after your payment</p>
                    <!-- <iframe ng-src="{{teaching_location_map}}" class="map" height="300px" frameborder="0" allowfullscreen></iframe> -->
                    <div style="height:300px;border:1px solid #d2d2d2" id="map"></div>
                </div>
            </div>
            <!-- <div class="section sm">
                <div class="section-title">
                    Leaving message
                </div>
                <div class="input-group">
                    <textarea  class="form-control full-width" ng-model="input.message" placeholder="leaving message"></textarea>
                </div>
            </div> -->
        </div>
        <div class="detail-right">
            <div class="settlement" style="position: relative">
                <p class="text-center">Session fee<span ng-if="input.total_fee>0">+One times service fee &nbsp;<span>
                        <i class="fa fa-question-circle-o" aria-hidden="true" title="" style="color:blue;"  ng-mouseover="show()" ng-mouseleave="hide()">
                </i>
                    </span></span>
                    
                    <div class="hovertips" ng-show="show">This fee is used for maintain coach service, you won't be charged in the future when you purchase the same course with this coach</div>

                    <span ng-if="input.total_traffic_cost>0">+Travel cost</span>
                </p>

                
                <p class="price text-center">
                    <span ng-class="{'underline':input.discount_price>0}">{{input.total_price|currency:"$"}}</span>
                    <span ng-if="input.discount_price>0">{{input.discount_price|currency:"$"}}</span>
                    <span ng-if="input.total_fee>0">+ {{input.total_fee|currency:"$"}}</span>
                    <span ng-if="input.total_traffic_cost>0">+ {{input.total_traffic_cost|currency:"$"}}</span>
                </p>
                <p class="text-center">per session {{course.session_length||'60'}}min</p>
                <p class="clearfix settlement-action">
                    Session quantity
                    <span class="pull-right">
                    <span class="settlement-minus" ng-click="minus_amount()">-</span>
                    <span class="settlement-amount">{{input.amount}}</span>
                    <span class="settlement-plus" ng-click="add_amount()">+</span>
                    </span>
                </p>
                <div class="settlement-discount clearfix" ng-if="discounts.length>0">
                    <!-- <div class="col-xs-4 pull-right" ng-if="course.discount_type == '1' && discounts.length>0">
                        <div class="discount-wrap">
                            <div class="discount">
                                <div class="title">sessions</div>
                                <div class="discount-info" ng-repeat="discount in discounts">
                                    <span>Buy Amount</span>
                                    <span class="block">get</span>
                                    <span class="size text-danger">{{discount.purchase|currency:"$"}}</span>
                                    <span class="block">off</span>
                                    <span class="size text-danger margin">{{discount.off|currency:"$"}}</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-xs-4 pull-right" ng-if="course.discount_type == '2' && discounts.length>0" ng-repeat="discount in discounts">
                        <div class="discount-wrap">
                            <div class="discount">
                                <div class="title">Package</div>
                                <div class="discount-info">
                                    <span>Buy</span>
                                    <span class="block size text-danger">{{discount.purchase}}</span>
                                    <span class="block">courses get</span>
                                    <span class="size text-danger margin">{{discount.off +"%"}}</span>
                                    <span class="block">off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xs-4 pull-right" ng-if="course.discount_type == '3' && discounts.length>0">
                        <div class="discount-wrap">
                            <div class="discount">
                                <div class="title">sessions</div>
                                <div class="discount-info" ng-repeat="discount in discounts">
                                    <span class="block">Buy Money</span>
                                    <span class="block">get</span>
                                    <span class="size text-danger">{{discount.purchase|currency:"$"}}</span>
                                    <span class="block">off</span>
                                    <span class="size text-danger margin">{{discount.off|currency:"$"}}</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <p class="clearfix settlement-action" ng-if="course.additional_partner>0">
                    Additional partner
                    <span class="pull-right">
                    <span class="settlement-minus" ng-click="minus_partner()">-</span>
                    <span class="settlement-amount">{{input.partner}}</span>
                    <span class="settlement-plus" ng-click="add_partner()">+</span>
                    </span>
                </p>
                <p class="clearfix">
                    <span class="col-xs-4" style="padding-top:6px">
                        Coupons:
                    </span>
                    <span class="col-xs-8">
                        <dribehance-select options="input.coupons" ng-if="is_signin()"></dribehance-select>
                        <span class="pull-right hover text-success" ng-click="signin()" ng-if="!is_signin()" style="padding-top:6px">Sign in to use cupons</span>
                    </span>
                </p>
                <p class="text-center">
                    <a class="btn btn-primary btn-md" ng-click="fillinorder('1')">add to cart</a>
                    <span class="or bg-second">or</span>
                    <a class="btn btn-success btn-md" ng-click="fillinorder('11')">pay now</a>
                </p>
                <div class="">
                    <div class="section-title">
                        Leaving message for coach
                    </div>
                    <div class="input-group">
                        <textarea class="form-control full-width" ng-model="input.message" placeholder="leaving message"></textarea>
                    </div>
                </div>
                <div class="settlement-fee">
                    <!-- <div ng-if="course.discount_type == '1' && discounts.length>0">
                        <p><b>Discount </b></p>
                        <div ng-repeat="discount in discounts">
                            buy Money to <span class="text-danger">{{discount.purchase|currency:"$"}}</span> get <span class="text-danger">{{discount.off|currency:"$"}} </span> off
                        </div>
                    </div>
                    <div ng-if="course.discount_type == '2' && discounts.length>0">
                        <p><b>Discount </b></p>
                        <div ng-repeat="discount in discounts">
                            buy Amount to <span class="text-danger">{{discount.purchase}}</span> get <span class="text-danger">{{discount.off|currency:"$"}}</span> off
                        </div>
                    </div> -->
                    <div ng-if="course.first_joint_fee>0">
                        <p><b>One time service fee </b></p>
                        <div class="text-danger">{{course.first_joint_fee}}%</div>
                    </div>
                    <div ng-if="course.travel_to_session=='1'">
                        <p><b>Travel cost </b></p>
                        <div class="text-danger">{{course.travel_to_session_trafic_surcharge|currency:"$"}}</div>
                    </div>
                    <div ng-if="course.additional_partner>0">
                        <p><b>Additional partner </b></p>
                        <div>{{course.surcharge_for_each|currency:"$"}} for each partner, up to {{course.additional_partner}} partner allowed.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- signin -->
<div id="location-popup" class="popup location-popup mfp-hide">
    <div ng-include="'templates/location.html'"></div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
<div class="animate-dot"></div>