<div class="footer cleafix">
    <div class="wrap">
        <div class="section">
            <div class="footer-left">
                <div class="links">
                    <a class="links-item">About Skillopedia</a>
                    <a class="links-item">Support</a>
                    <a class="links-item">Contact Us</a>
                    <a class="links-item">Terms of Services</a>
                    <a class="links-item">Privacy Policy</a>
                </div>
                <div class="copyright">
                    @Copyright 2016-2018 | All Rights are Reserved
                </div>
            </div>
            <div class="footer-right">
                <h3>Skillopedia</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum culpa, labore non rerum voluptate ipsa excepturi ipsum quam animi id asperiores ullam et quaerat voluptatum tempora numquam distinctio. Ullam, quisquam?</span>
            </div>
        </div>
    </div>
</div>