<script src="//cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="lib/js/jquery.animate-enhanced.min.js"></script>
<script src="lib/js/jquery.superslides.js"></script>
<script src="lib/js/main.js"></script>
<link href="lib/css/superslides.css" rel="stylesheet">
<link href="lib/css/index.css" rel="stylesheet">
<!-- nav -->
<div class="nav">
    <span class="nav-btn">
        Skillopedia<i class="fa fa-angle-down hover-spin-reverse" aria-hidden="true"></i>
    </span>
    <div class="nav-action">
        <span class="signin-btn btn btn-black" ng-click="signin()">Sign In</span>
        <span class="signup-btn btn btn-black" ng-click="signup()">Sign Up</span>
    </div>
    <div class="dropdown clearfix">
        <div class="dropdown-section">
            <div class="dropdown-title">
                Download For
            </div>
            <div class="info-list">
                <div class="info-item">
                    <i class="fa fa-apple text-big" aria-hidden="true"></i><span class="info-text">Iphone</span>
                </div>
                <div class="info-item">
                    <i class="fa fa-android text-big" aria-hidden="true"></i><span class="info-text">Android</span>
                </div>
            </div>
            <div class="line"></div>
            <span class="or">or</span>
            <img src="images/qrcode.png" class="qrcode full-width" alt="">
        </div>
        <div class="dropdown-section">
            <div class="dropdown-title">
                Info
            </div>
            <div class="info-list">
                <a class="info-item" ng-href="#/about">About Skillopedia</a>
                <a class="info-item" ng-href="#/support">Support</a>
                <a class="info-item" ng-href="#/contact">Contact Us</a>
                <a class="info-item" ng-href="#/services">Terms of Services</a>
                <a class="info-item" ng-href="#/privacy">Privacy Policy</a>
            </div>
            <div class="dropdown-title">
                Follow Us
            </div>
            <div class="info-list">
                <a class="info-item"><i class="fa fa-facebook" aria-hidden="true"></i>Like Us on Facebook</a>
                <a class="info-item"><i class="fa fa-twitter" aria-hidden="true"></i>Follow Us on Twitter</a>
                <a class="info-item"><i class="fa fa-google" aria-hidden="true"></i>Follow Us on Google+</a>
                <a class="info-item"><i class="fa fa-linkedin" aria-hidden="true"></i>Follow Us on Linkedin</a>
            </div>
        </div>
    </div>
    <div class="dropdown-cover hide"></div>
</div>
<!-- slider -->
<div id="slides">
    <div class="slides-container">
        <img ng-src="{{staticImageUrl + banner.big_cover}}" ng-repeat="banner in banners" err-src="">
        <!-- <img src="images/cinelli-front.jpeg">
        <img src="images/affinity.jpeg"> -->
    </div>
    <!-- <nav class="slides-navigation">
        <a href="#" class="next">Next</a>
        <a href="#" class="prev">Previous</a>
    </nav> -->
</div>
<!-- search -->
<div class="wrap">
    <form class="search-input" ng-submit="ajaxForm()" name="searchForm" ng-controller="searchController">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" class="full-width" ng-model="input.keyword" required placeholder="find your private coach or lesson">
        <span class="zipcode">
            <input type="text" class="full-width" ng-model="input.zipcode" required placeholder="zipcode">
            <div class="zipcode-suggestion" ng-if="input.zipcode && input.suggestions.length>0">
                <span class="suggestion-item" ng-repeat="suggestion in input.suggestions | filter:input.zipcode" ng-click="select(suggestion)">{{suggestion}}</span>
            </div>
        </span>
        <button class="btn" type="submit" ng-disabled="searchForm.$invalid">Search</button>
    </form>
</div>
<!-- feature section -->
<div class="wrap">
    <div class="section feature-section clearfix">
        <div class="feature-item feature-left" ng-click="open_left_feature($event)">
            <img ng-src="{{staticImageUrl + sport.image_01}}" class="hvr-grow" err-src="../images/error.jpg" alt="">
            <div class="feature-caption">
                <h1>Sport</h1>
                <span>{{sport.category_describe}}</span>
            </div>
            <div class="sub-feature">
                <span class="close_left close" ng-click="close_left($event)"><i class="fa fa-times" aria-hidden="true"></i></span>
                <div class="sub-feature-{{$index}} circle" ng-repeat="sport_second in sport_seconds track by $index">
                    <a class="feature-meta" ng-href="#/list" title="">
                        <img ng-src="{{staticImageUrl + sport_second.image_01}}" class="hvr-grow full-width" err-src="../images/error.jpg">
                    </a>
                </div>
                <!-- <div class="sub-feature-2 circle">
                    <a class="feature-meta" ng-href="#/list">
                        <img src="../images/people.jpeg" class="hvr-grow full-width">
                    </a>
                </div>
                <div class="sub-feature-3 circle">
                    <a class="feature-meta" ng-href="#/list">
                        <img src="../images/home-banner-01.jpg" class="hvr-grow full-width">
                    </a>
                </div>
                <div class="sub-feature-4 circle">
                    <a class="feature-meta" ng-href="#/list">
                        <img src="../images/cinelli-front.jpeg" class="hvr-grow full-width">
                    </a>
                </div>
                <div class="sub-feature-5 circle">
                    <a class="feature-meta" ng-href="#/list">
                        <img src="../images/affinity.jpeg" class="hvr-grow full-width">
                    </a>
                </div> -->
            </div>
        </div>
        <div class="feature-item feature-right" ng-click="open_right_feature($event)">
            <img ng-src="{{staticImageUrl + arts.image_01}}" class="hvr-grow" err-src="../images/error.jpg" >
            <div class="feature-caption">
                <h1>Arts</h1>
                <span>{{arts.category_describe}}</span>
            </div>
            <div class="sub-feature">
                <span class="close_right close" ng-click="close_right($event)"><i class="fa fa-times" aria-hidden="true"></i></span>
                <div class="sub-feature-{{$index}} circle" ng-repeat="art_second in art_seconds track by $index">
                    <a class="feature-meta" ng-href="#/list">
                        <img ng-src="{{staticImageUrl + art_second.image_01}}" class="hvr-grow full-width" err-src="../images/error.jpg">
                    </a>
                </div>
                <!-- <div class="sub-feature-2 circle">
                    <a class="feature-meta" ng-href="#/list">
                        <img src="../images/people.jpeg" class="hvr-grow full-width">
                    </a>
                </div>
                <div class="sub-feature-3 circle">
                    <a class="feature-meta" ng-href="#/list">
                        <img src="../images/home-banner-01.jpg" class="hvr-grow full-width">
                    </a>
                </div>
                <div class="sub-feature-4 circle">
                    <a class="feature-meta" ng-href="#/list">
                        <img src="../images/cinelli-front.jpeg" class="hvr-grow full-width">
                    </a>
                </div>
                <div class="sub-feature-5 circle">
                    <a class="feature-meta" ng-href="#/list">
                        <img src="../images/affinity.jpeg" class="hvr-grow full-width">
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="section text-center download-section">
        <span class="btn android text-ellipsis"><i class="fa fa-android" aria-hidden="true"></i>downlaod for android</span>
        <span class="btn iphone text-ellipsis"><i class="fa fa-apple" aria-hidden="true"></i>downlaod for iphone</span>
    </div>
</div>
<!-- category -->
<div class="wrap">
    <div class="section category-section">
        <a class="category-large" ng-href="#/list">
            <img src="images/affinity.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption large">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/cinelli-front.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/cinelli.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/home-banner-01.jpg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/people.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/surly.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/affinity.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
    </div>
    <div class="section category-section">
        <a class="category-large" ng-href="#/list">
            <img src="images/affinity.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption large">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/cinelli-front.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/cinelli.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/home-banner-01.jpg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/people.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/surly.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
        <a class="category-small" ng-href="#/detail">
            <img src="images/affinity.jpeg" class="hvr-bounce-in" alt="">
            <div class="category-caption">
                <h3 class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia mollitia necessitatibus enim neque modi error illo ratione ea excepturi, qui consequatur molestias, dolore optio corporis! Natus, provident cumque est!</h3>
                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error dicta perferendis voluptatem, minus! Doloremque at, accusantium dolores dolorem possimus maxime sunt odio ad, qui, similique, corporis officiis voluptates vel.</span>
            </div>
        </a>
    </div>
</div>
<div ng-include="'templates/footer.html'"></div>
<script type="text/javascript">
$('#slides').superslides({
    animation: 'fade',
    play: 2500
});
</script>