<!-- header -->
 <link href="lib/css/account.css" rel="stylesheet"> 
<link href="lib/css/media.css" rel="stylesheet" />
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
        	<div class="tabs clearfix">
        		<a class="tab-item pull-left active">Messages</a>
        	</div>
            <div class="message clearfix">
                <dl>
                    <dt>[评论]</dt>
                    <dd class="message-info">Thank you very much ,nice to see you next time!</dd>
                    <dd class="clearfix">
                        <div class="note">
                            <p>
                                Lorem ipsum dolor sit amet,consectetur Lorem ipsum dolor sit,amet, client worldwide.
                                Lorem ipsum dolor sit amet,consectetur Lorem ipsum dolor sit,amet, client worldwide.
                                Lorem ipsum dolor sit amet,consectetur Lorem ipsum dolor sit,amet, client worldwide.
                            </p>
                        </div>
                    </dd>
                    <dd class="clearfix">
                        <ul>
                            <li><a>dribehance</a></li>
                            <li>
                                <a href="">
                                    <i class="fa fa-trash-o" aria-hidden="true" style="color: red;"></i>
                                    <em>remove</em>
                                </a>
                            </li>
                            <div class="m-date fr">
                                <a>2015-06-07 <span>13:25</span></a>
                            </div>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="message clearfix">
                <dl>
                    <div class="clearfix">
                        <dt>[评论]</dt>
                        <dd class="message-info">Thank you very much ,nice to see you next time!</dd>
                        
                        <dd class="clearfix">
                            <ul>
                                <li><a>dribehance</a></li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="color: red;"></i>
                                        <em>remove</em>
                                    </a>
                                </li>
                                <div class="m-date fr">
                                    <a>2015-06-07 <span>13:25</span></a>
                                </div>
                                
                            </ul>
                        </dd>
                    </div>

                </dl>
            </div>

            <div class="message clearfix">
                <dl>
                    <dt>[系统推送消息]</dt>
                    <dd class="message-info">Thank you very much ,nice to see you next time!</dd>
                  
                    <dd class="clearfix">
                        <ul>
                            <li><a>dribehance</a></li>
                            <li>
                                <a href="">
                                    <i class="fa fa-trash-o" aria-hidden="true" style="color: red;"></i>
                                    <em>remove</em>
                                </a>
                            </li>
                            <div class="m-date fr">
                                <a>2015-06-07 <span>13:25</span></a>
                            </div>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
