<!-- header -->
<div ng-include="'templates/header.html'"></div>
<link href="lib/css/account.css" rel="stylesheet"> 
<link href="lib/css/media.css" rel="stylesheet" />
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
            <div class="tabs clearfix">
                <a class="tab-item pull-left active">Comment</a>
            </div>
            <div class="coach-item hover" ng-click="go('detail')">
                <div class="coach-avatar">
                    <img src="images/avatar.png" class="full-width" alt="">
                </div>
                <div class="coach-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laudantium reiciendis, eos blanditiis. Beatae praesentium sint recusandae quam blanditiis molestias eligendi quidem dolores delectus non odio, amet reiciendis similique nihil.</p>
                    <span class="pull-right text-primary text-big">$100</span>
                    <div class="star text-ellipsis">
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="coach-meta">
                        <span><i class="fa fa-bars" aria-hidden="true"></i>football</span>
                        <span><i class="fa fa-user" aria-hidden="true"></i>by dribehace</span>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i>newyowk</span>
                        <span class="text-success open-map" ng-click="open_map($event)"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>open map</span>
                    </div>
                </div>
            </div>
            <p class="clearfix">
                <span>专业技能&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
            </p>
            <p class="clearfix">
                <span>教学环境&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
            </p>
            <p class="clearfix">
                <span>教学态度&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
            </p>
            <p>comment for this class</p>
            <div class="input-group">
                <textarea rows="10" class="full-width form-control" placeholder="comment..."></textarea>
            </div>
            <button class="btn btn-danger">评论</button>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
