<!-- header -->
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
            <div class="tabs clearfix">
                <a class="tab-item pull-left active">Booking</a>
            </div>
            <div class="calendar-wrap">
                <calendar calendar="calendar" class="calendar-left"></calendar>
                <div class="calendar-right">
                    <div class="calenader-result">
                        <p class="text-center">schedule</p>
                        <div class="result-item" ng-click="calendar.remove(select)" ng-repeat="select in calendar.selected">
                            {{select.from.hour}} to {{select.to.hour}}
                            <i class="pull-right fa fa-times"></i>
                        </div>
                        <div class="result-item" ng-if="calendar.selected.length==0">
                            no schedule
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
