<!-- header -->
<!-- <link href="lib/css/account.css" rel="stylesheet"> 
<link href="lib/css/media.css" rel="stylesheet" /> -->
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
        	<div class="tabs clearfix">
                <a class="tab-item pull-left active">All</a>
                <a class="tab-item pull-left">Unpay</a>
                <a class="tab-item pull-left">Payed</a>
                <a class="tab-item pull-left">Finish</a>
            </div>

            <div class="coach-item with-action-bar" >
                <div class="coach-avatar">
                    <img src="images/avatar.png" class="full-width" alt="">
                </div>
                <a class="coach-info" ng-href="#/order">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laudantium reiciendis, eos blanditiis. Beatae praesentium sint recusandae quam blanditiis molestias eligendi quidem dolores delectus non odio, amet reiciendis similique nihil.</p>
                    <span class="pull-right text-primary text-big">$100</span>
                    <div class="star text-ellipsis">
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="coach-meta text-ellipsis">
                        <span><i class="fa fa-bars" aria-hidden="true"></i>football</span>
                        <span><i class="fa fa-user" aria-hidden="true"></i>by dribehace</span>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i>newyowk</span>
                        <span class="text-success"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>open map</span>
                    </div>
                </a>
                <div class="action-bar clearfix">
                    <span class="btn pull-left">Status-Unpay</span>
                    <div class="btn-group clearfix pull-right">
                        <span class="btn btn-success">pay now</span>
                        <span class="btn btn-danger">delete</span>
                    </div>
                </div>
            </div>
            <div class="coach-item with-action-bar" ng-href="#/order">
                <div class="coach-avatar">
                    <img src="images/avatar.png" class="full-width" alt="">
                </div>
                <a class="coach-info" ng-href="#/order">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laudantium reiciendis, eos blanditiis. Beatae praesentium sint recusandae quam blanditiis molestias eligendi quidem dolores delectus non odio, amet reiciendis similique nihil.</p>
                    <span class="pull-right text-primary text-big">$100</span>
                    <div class="star text-ellipsis">
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="coach-meta text-ellipsis">
                        <span><i class="fa fa-bars" aria-hidden="true"></i>football</span>
                        <span><i class="fa fa-user" aria-hidden="true"></i>by dribehace</span>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i>newyowk</span>
                        <span class="text-success"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>open map</span>
                    </div>
                </a>
                <div class="action-bar clearfix">
                    <span class="btn pull-left">Status-Unpay</span>
                    <div class="btn-group clearfix pull-right">
                        <a class="btn btn-success" ng-href="#/order_booking">booking</a>
                        <a class="btn btn-danger" ng-href="#/order_refund">refund</a>
                    </div>
                </div>
            </div>
            <div class="coach-item with-action-bar" ng-href="#/order">
                <div class="coach-avatar">
                    <img src="images/avatar.png" class="full-width" alt="">
                </div>
                <a class="coach-info" ng-href="#/order">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laudantium reiciendis, eos blanditiis. Beatae praesentium sint recusandae quam blanditiis molestias eligendi quidem dolores delectus non odio, amet reiciendis similique nihil.</p>
                    <span class="pull-right text-primary text-big">$100</span>
                    <div class="star text-ellipsis">
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="coach-meta text-ellipsis">
                        <span><i class="fa fa-bars" aria-hidden="true"></i>football</span>
                        <span><i class="fa fa-user" aria-hidden="true"></i>by dribehace</span>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i>newyowk</span>
                        <span class="text-success"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>open map</span>
                    </div>
                </a>
                <div class="action-bar clearfix">
                    <span class="btn pull-left">Status-Unpay</span>
                    <div class="btn-group clearfix pull-right">
                        <span class="btn btn-default">buy again</span>
                        <a class="btn btn-second" ng-href="#/order_comment">comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
