<!-- header -->
<div ng-include="'templates/header.html'"></div>
<div class="about-poster"></div>
<div class="wrap">
    <div class="section">
        <div class="section-content">
            <p>
                This Privacy Policy explains how information about you is collected, used and disclosed by Skillopedia Corp (<b>"Skillopedia,","we," "us" or "our"</b>) during the time you access or use our IOS, Android application and website or when you otherwise interact with us.
            </p>
            <p>
                This Privacy Policy may be changed time to time, every time we make some change on this Privacy Policy, we will revise “Last Update” date. We will also send update notice to your account via Email or application message. Skillopedia encourage you to review this Privacy Policy when you use our service. By visiting skillopedia.cc, <b>you are accepting the practices described in this Privacy Policy.</b>
            </p>
            <h3>PERSONAL INFORMATION SKILLOPEDIA GATHER</h3>
            <p>We collect information our customer provide to us, this information help us improve your experience on Skillopedia, here are the types of information we gather.</p>
            <p><b>Account information:</b> we gather your information such as your name, email address, password, age, gender, postal address, phone number, photos, experience and other information you provide to us.</p>
            <p><b>Transaction information: </b>Transaction information include coaching session and service you purchase from us, We do not collect or store card information and all transactions are processed by third party payment processor. If you are a tutor or coach with us, we will collect your bank account information.</p>
            <p><b>Course information: </b>Such as course type, time and location you book with your coach. </p>
            <p><b>Information from other source: </b>We might receive information about you from other sources and add it to our account information. Such as you participate in survey, contest or interact with our service, or the communication with us via third party media service. We might also collect the information you invite us to use such as individuals you refer and register to receiving coaching service.</p>
            <p><b>Mobile information: </b>When you download or use apps created by Skillopedia, we may receive information about your location and your mobile device. We may use this information to provide you with location-based services, such as search results, and other personalized content. Most mobile devices allow you to turn off location services.</p>
            <p><b>About Cookies: </b>Cookies are unique identifiers that we could recognize your device, Skillopedia automatic collect, if you wish to disable your cookies, please see the detail <b>at Choice you have</b></p>
            <h3>SHARING OF INFORMATION</h3>
            <p><b>Information about our customer is important to us, we are not in the business of selling it to others, we share customer information only as describe below:</b></p>
            <ul>
                <li>When you create a profile or interact with us on third-party social media sites, certain information that you provide may be displayed publicly, such as your name, profile photo and other information you choose to provide;</li>
                <li>In response to a request for information by, any applicable law, rule, regulation or legal process.</li>
                <li>If your action violate our user agreement, we may use your information to protect the right, property of Skillopedia or others.</li>
                <li>With your agree or direction</li>
                <li>With service provider that need to access information in order to work on our behalf.</li>
            </ul>
            <h3>USE OF INFORMATION</h3>
            <p>We use the information we collect to:</p>
            <ul>
                <li>Provide, improve our service</li>
                <li>Offer you personalized experience on our service,such as personal recommend course, deals.</li>
                <li>Contact you about your account and provide you customer service.</li>
                <li>Communicate with you about products, services, offers, promotions, rewards, and events offered by Skillopedia</li>
                <li>Prevent, detect, mitigate, and investigate fraud, security breaches, potentially prohibited or illegal activities</li>
                <li>Deliver targeted marketing, service updates, and promotional offers based on your communication preferences</li>
                <li>Carry out any other purpose for which the information was collected.</li>
                <li>Perform data analytic, Measure the effectiveness of advertising, content, features and activities.</li>
                <li>Give you access to your purchase history, coach management, internal messages and other feature</li>
                <li>Provide other services requested by you as described when we collect the information</li>
            </ul>
            <h3>ABOUT YOUR CHOICES</h3>
            <p><b>Account</b></p>
            <p>You may access, update or delete the information you provide to us at any time, We will keep a copy of the prior version for our records. Please contact us via our support email or customer service if you want to delete your account from us. </p>
            <p><b>Location Information</b></p>
            <p>When you launch our mobile application at the first time, we will ask you if you allow us to track your location information during the app is using. If you permit us to collect your location information, you can stop it by changing the preferences on your mobile device.</p>
            <p><b>Cookies and Web Storage</b></p>
            <p>Most web browsers are set to accept cookies and web storage by default. The Help feature on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. Additionally, you can disable or delete similar data used by browser add-ons, such as Flash cookies, by changing the add-on's settings or visiting the Web site of its manufacturer. Because these technology allow you to take advantage of some Skillopedia service, such as shopping cart, we recommend you to turn on Cookies and Web Storage.</p>
            <p><b>Promotion and advertisement</b></p>
            <p>If you do not want to receive any promotion or advertisement email from Skillopedia, you could always unsubscribe it using the link in our email. We may still send non promotional communication relate to your account.</p>
            <p><b>Mobile app notification</b></p>
            <p>If you allow us to send you app notification initially, you may change the mobile notification setting to stop receiving our app notification.</p>
            <h3>QUESTION AND COMPLAINT</h3>
            <p>If you have any question or complaint about this privacy policy, please contact us at <a href="mailto:support@skillopedia.cc">support@skillopedia.cc </a> or 714-213-9873</p>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
