<!-- header -->
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <sidebar active="'/skillopedia'" class="sidebar-wrap"></sidebar>
        <div class="content-wrap">
            <div class="tabs clearfix">
                <a class="tab-item pull-left" ng-href="#/skillopedia">Courses</a>
                <a class="tab-item pull-left" ng-href="#/orders_management">Orders</a>
                <a class="tab-item pull-left active">Schedule</a>
            </div>
            <div class="calendar-wrap">
                <calendar calendar="calendar" class="calendar-left"></calendar>
                <div class="calendar-right">
                    <div class="calenader-result">
                        <p class="text-center">schedule</p>
                        <div class="result-item" ng-if="calendar.selected.state == '1'">
                            <p>课程名称：{{calendar.selected.course_name}}</p>
                            <p>上课地址：{{calendar.selected.course_location}}</p>
                            <p>上课时间：{{calendar.selected.course_time}}</p>
                            <p>学员留言：{{calendar.selected.remarks}}</p>
                        </div>
                        <div class="result-item" ng-if="calendar.selected.state != '1'">
                            <div ng-repeat="time in calendar.selected" ng-if="time.remarks">
                                <p>所选时间：{{time.hour||"-"}}</p>
                                <p>时间安排：{{time.remarks||"暂无安排"}}</p>
                            </div>
                            <div class="clearfix" ng-if="calendar.selected.length>0">
                                <p class="btn-group text-center">
                                    <button type="button" class="btn btn-success" ng-click="free_hour()">Mark as Free</button>
                                    <button type="button" class="btn btn-danger" ng-click="busy_hour()">Mark as Busy</button>
                                </p>
                            </div>
                            <div class="clearfix">
                                <span class="btn pull-right" ng-class="{'text-primary':calendar.is_stop_course=='1'}" ng-click="busy_all_day()">
                                    <i class="fa" ng-class="{'fa-check-square-o':calendar.is_stop_course=='1','fa-square-o':calendar.is_stop_course!='1'}" aria-hidden="true"></i>
                                暂停课程
                                </span>
                                <span class="btn pull-left" ng-class="{'text-primary':calendar.is_busy_24=='1'}" ng-click="busy_one_day()">
                                    <i class="fa" ng-class="{'fa-check-square-o':calendar.is_busy_24=='1','fa-square-o':calendar.is_busy_24!='1'}" aria-hidden="true"></i>
                                全天没有空
                                </span>
                                <!-- <span class="calender-tip unavailable">不可预约</span> -->
                                <span class="calender-tip confirm">已经被人预约</span>
                                <span class="calender-tip busy">忙</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- confirm -->
<confirm confirm="confirm" class="hide"></confirm>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
