<!-- header -->
<link href="lib/css/account.css" rel="stylesheet"> 
<link href="lib/css/media.css" rel="stylesheet" />
<link href="css/app.min.css" rel="stylesheet" />

<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
        	<div class="tabs clearfix">
        		<a class="tab-item pull-left active">Cart</a>
        	</div>
            <div class="itemswrap">
                <a class="items">
                    <div class="items-img">
                         <img src="images/avatar.png" class="full-width">
                    </div>
                    <script type="text/javascript">
                    

                    </script>
                    <div class="items-info">
                        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laudantium reiciendis, eos blanditiis. Beatae praesentium sint recusandae quam blanditiis molestias eligendi quidem dolores delectus non odio, amet reiciendis similique nihil.</P>
                        <div class="star">
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="items-meta">
                            <span><i class="fa fa-bars" aria-hidden="true">football</i></span>
                            <span><i class="fa fa-user" aria-hidden="true"></i>by dribehace</span>
                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>newyowk</span>
                        </div>
                        <div class="items-btn">
                            <div class="items-delbtn">delete</div>
                            
                            
                        </div>
                    </div>
                </a>
                <div class="amount-box">
                    <div class="check">
                        <input type="checkbox" name="" id="" value="" />
                        <span>Check</span>
                    </div>
                    <div class="amount clearfix">
                        <span>Amount:</span>
                        <div class="click pull-right">
                            <i class="fa fa-minus" aria-hidden="true"></i>  
                            <label>5</label>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
