<!-- header -->
<!-- <link href="lib/css/account.css" rel="stylesheet">
<link href="lib/css/media.css" rel="stylesheet" /> -->
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar_1.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
            <div class="tabs clearfix">
                <a class="tab-item pull-left" ng-href="#/show?user_id={{user_id}}">Courses</a>
                <a class="tab-item pull-left active">Comments</a>
                <a class="tab-item pull-left" ng-href="#/show_steps?user_id={{user_id}}">Steps</a>
            </div>
            <div class="section sm">
                <div class="comments">
                    <div class="comment-item">
                        <div class="comment-header">
                            <div class="comment-avatar">
                                <img src="../images/head.png" class="full-width" alt="">
                            </div>
                            <div class="comment-meta">
                                <span class="comment-name">
                                    dribehance
                                </span>
                                <div class="clearfix text-ellipsis">
                                    <span class="pull-left">
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star-o text-primary"></i>
                                    </span>
                                    <span class="pull-right">专业技能3.5 教学环境 3.5 教学态度 3.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quisquam harum beatae minima consectetur eos! Consequatur officiis consequuntur quidem iste esse? Totam magni animi tempora dolorum explicabo iure magnam, obcaecati.
                            <div class="comment-reply">
                                <b>coach reply:</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non pariatur eaque odit quisquam nulla, temporibus sint dignissimos rerum, voluptatem, illum fugiat corrupti deserunt rem amet beatae maiores! Voluptates, dolor.
                            </div>
                        </div>
                    </div>
                    <div class="comment-item">
                        <div class="comment-header">
                            <div class="comment-avatar">
                                <img src="../images/head.png" class="full-width" alt="">
                            </div>
                            <div class="comment-meta">
                                <span class="comment-name">
                                    dribehance
                                </span>
                                <div class="clearfix text-ellipsis">
                                    <span class="pull-left">
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star-o text-primary"></i>
                                    </span>
                                    <span class="pull-right">专业技能3.5 教学环境 3.5 教学态度 3.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quisquam harum beatae minima consectetur eos! Consequatur officiis consequuntur quidem iste esse? Totam magni animi tempora dolorum explicabo iure magnam, obcaecati.
                        </div>
                    </div>
                </div>
                <div class="section text-center">
                    <span class="btn btn-lg">点击加载更多</span>
                </div>
            </div>
            <!-- <div class="comments-itemwrap">
                <div class="comments-item">
                    <div class="comments-avatar">
                        <img src="images/avatar.png" class="full-width">
                    </div>
                    <div class="items-news">
                        <span>Yang</span>
                        <div class="starwrap">
                            <div class="star">
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <label>Jan 2015</label>
                                <div class="tip pull-right">专业技能 3.5 教学环境 3.5 教学态度 3.5 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tips clearfix">
                    Lorem ipsum dolor sit amet,consectetur adipisicing elit. Harum provident eos,consequa,eveniet molestiae,essa sequi,ab sint reprehenderit sit labore neque doloremque,Doloribus pariatur perpiciatis a labore bearae?Lorem ipsum dolor sit amet,consectetur adipisicing elit. Harum provident eos,consequa,eveniet molestiae,essa sequi,ab sint reprehenderit sit labore neque doloremque
                </div>
                <em>
                    #DRIBEGHANCE-FOOTBALL#
                </em>
            </div> -->
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
