<link href="lib/css/account.css" rel="stylesheet"> 
<!-- header -->
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
        	<div class="tabs clearfix">
                <a class="tab-item pull-left active">Account</a>
            </div>

            <div class="title-input">
                <div class="namewrap">
                    <span>name</span>
                    <div class="u-input"> 
						<input type="text" name="" id="" value="" class="full-width" placeholder=""/>
					</div>
                </div>
            </div>
            <div class="title-input">
            	<span>avatat</span>
            	<a class="images" href="">
                    <img src="images/head.png" class="full-width">
            	</a>

            </div>
            <div class="account-btn">
                <a class="btn-edit" href="" >comfirm</a> 
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
