<!-- header -->
 <link href="lib/css/account.css" rel="stylesheet"> 
<link href="lib/css/media.css" rel="stylesheet" />
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
        	<div class="tabs clearfix">
        		<a class="tab-item pull-left" ng-href="#/courses">Courses</a>
        		<a class="tab-item pull-left active">Comments</a>
        		<a class="tab-item pull-left" ng-href="#/steps">Steps</a>
        	</div>
            <div class="comments-itemwrap">
                <div class="comments-item">
                    <div class="comments-avatar">
                        <img src="images/avatar.png" class="full-width">
                    </div>
                    <div class="items-news">
                        
                        <span>Yang</span>
                        <div class="starwrap">
                            <div class="star">
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>  
                                <label>Jan 2015</label> 
                                <div class="tip pull-right">专业技能 3.5 教学环境 3.5 教学态度 3.5  </div>   
                            </div>
                             
                        </div>
                    </div>
                </div>

                 <div class="tips clearfix">
                    Lorem ipsum dolor sit amet,consectetur adipisicing elit. Harum provident eos,consequa,eveniet
                    molestiae,essa sequi,ab sint reprehenderit sit labore neque doloremque,Doloribus pariatur perpiciatis 
                    a labore bearae?Lorem ipsum dolor sit amet,consectetur adipisicing elit. Harum provident eos,consequa,eveniet
                    molestiae,essa sequi,ab sint reprehenderit sit labore neque doloremque
                </div>
                <em>
                    #DRIBEGHANCE-FOOTBALL#
                </em>
            </div>
            <div class="comments-itemwrap">
                <div class="comments-item">
                    <div class="comments-avatar">
                        <img src="images/avatar.png" class="full-width">
                    </div>
                    <div class="items-news">
                        
                        <span>Yang</span>
                        <div class="starwrap">
                            <div class="star">
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>  
                                <label>Jan 2015</label> 
                                <div class="tips pull-right">专业技能 3.5 教学环境 3.5 教学态度 3.5  </div>   
                            </div>
                             
                        </div>
                    </div>
                </div>

                 <div class="tips clearfix">
                    Lorem ipsum dolor sit amet,consectetur adipisicing elit. Harum provident eos,consequa,eveniet
                    molestiae,essa sequi,ab sint reprehenderit sit labore neque doloremque,Doloribus pariatur perpiciatis 
                    a labore bearae?Lorem ipsum dolor sit amet,consectetur adipisicing elit. Harum provident eos,consequa,eveniet
                    molestiae,essa sequi,ab sint reprehenderit sit labore neque doloremque
                </div>
                <em>
                    #DRIBEGHANCE-FOOTBALL#
                </em>
            </div>
           
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
