<!-- header -->
<link href="lib/css/account.css" rel="stylesheet"> 
<link href="lib/css/media.css" rel="stylesheet" />
<div ng-include="'templates/header_1.html'"></div>
<div class="wrap">
    <div class="section">
		<div class="creasecoursewrap">
			<div class="direction-arrow">
				<img src=""/>
			</div>
		
			<span>Course Title</span>
			<input type="text" name="" id="" value="" />
			<span>Category</span>
			<!-- 下拉框 -->
			<div class="clearfix">
				<div class="input-select pull-left">
			        <select name="">
			        	<option value="">Sports</option>
			        </select>
			        <i class="fa fa-caret-down" aria-hidden="true"></i>
			    </div>
				<div class="input-select pull-right">
			        <select name="">
			        	<option value="">Football</option>
			        </select>
			        <i class="fa fa-caret-down" aria-hidden="true"></i>
			    </div>

			</div>
			

			<span>Certification</span>

			<div class="certification-itemwrap clearfix">
				<div class="certification-item pull-left">
					<div class="imgwrap">
						<img src="images/about_bg.png" class="full-width"/>
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Certification Name"/>
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Effective Time Certification" />
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Institue" />
					</div>
					
					<div class="create-remove">remove</div>
					<div class="create-update pull-right">update</div>
				</div>
				<div class="certification-item pull-left">
					<div class="imgwrap">
						<img src="images/about_bg.png" class="full-width"/>
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Certification Name"/>
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Effective Time Certification" />
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Institue" />
					</div>
					
					<div class="create-remove">remove</div>
					<div class="create-update pull-right">update</div>
				</div>
				<div class="certification-item pull-left">
					<div class="imgwrap">
						<img src="images/about_bg.png" class="full-width"/>
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Certification Name"/>
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Effective Time Certification" />
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Institue" />
					</div>
					
					<div class="create-remove">remove</div>
					<div class="create-update pull-right">update</div>
				</div>

				<div class="certification-item pull-left">
					<div class="imgwrap">
						<img src="images/about_bg.png" class="full-width"/>
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Certification Name"/>
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Effective Time Certification" />
					</div>
					<div class="create-input"> 
						<input type="text" name="" id="" value="" placeholder="Institue" />
					</div>
					
					<div class="create-remove">remove</div>
					<div class="create-update pull-right">update</div>
				</div>

				<div class="certification-item pull-left">
					<div class="imgwrap"><img src="images/about_bg.png"></div>
					
				</div>	
			</div>

			<span class="clearfix">Overview</span>
			<textarea name="" rows="10%" cols=""></textarea>
		    <span>cover</span>
		    
		    <div class="open-img">
		    	<a href="">
			    	
			    </a>
		    </div>
		    
		    <span>video<div class="pull-right"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 26px;color: #00E370;"></i></div></span>
		    <div class="remove-input">
		    	<input type="text" name="" id="" value="" placeholder="http://www.youtube.com" />
		    	<a href=""><div class="create-addressremove">remove</div></a>
		    </div>
		    <a ng-href="#/create_course2">
		    	<div class="nextbtn-addr">
			    	<div class="couse-next">Next</div>
			    </div>
		    </a>
		</div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
