<!-- header -->
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section">
        <div class="writeWrap">
        	<div class="tabs clearfix">
        		<a class="tab-item pull-left active">Write</a>
        	</div>
        	<span>Experience Title</span>
        	<div class="course-input">
				<input type="text" name="" id="" value="" class="full-width"/>
			</div>
			<span>Experience Content</span>
			<div class="writeContent">
				say something you feel, you learn
			</div>

			<div class="writeImages">
				<a class="images" href="" >
					<img src="" class="full-width">
					<i class="fa fa-times-circle-o" aria-hidden="true"></i>
				</a>

				<a class="images" href="" >
					<img src="" class="full-width">
					<i class="fa fa-times-circle-o" aria-hidden="true"></i>
				</a>
			</div>


        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
			