<div class="footer cleafix">
    <div class="wrap">
        <div class="section">
            <div class="footer-left">
                <div class="links">
                    <a class="links-item" ng-href="#/about">About Skillopedia</a>
                    <a class="links-item" ng-href="#/support">Support</a>
                    <a class="links-item" ng-href="#/contact">Contact Us</a>
                    <a class="links-item" ng-href="#/services">Terms of Services</a>
                    <a class="links-item" ng-href="#/privacy">Privacy Policy</a>
                </div>
                <div class="copyright">
                    @Copyright 2016-2018 | All Rights are Reserved
                </div>
            </div>
            <div class="footer-right">
                <h3>Skillopedia</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum culpa, labore non rerum voluptate ipsa excepturi ipsum quam animi id asperiores ullam et quaerat voluptatum tempora numquam distinctio. Ullam, quisquam?</span>
                <p>
                    <span class="share-icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    <span class="share-icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                    <span class="share-icon linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    <span class="share-icon google"><i class="fa fa-google" aria-hidden="true"></i></span>
                </p>
            </div>
        </div>
    </div>
</div>
