<!-- header -->
<link href="lib/css/account.css" rel="stylesheet"> 
<link href="lib/css/media.css" rel="stylesheet" />
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
        	<div class="tabs clearfix">
                <a class="tab-item pull-left active">Refund</a>
            </div>

            <div class="drawback">
                <ul>
                    <li class="active">
                        <span>Refund</span>
                        <label>2 Session could be refund</label>
                    </li>
                    <li>
                        <div class="scolo">
                            <input type="checkbox" name="" id="" value="" /> Session1:
                            <div class="times">
                                <div class="p2 ">June 18,2007 14:00~15:00</div>
                                <div class="p5">complete
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="scolo">
                            <input type="checkbox" name="" id="" value="" /> Session1:
                            <div class="times">
                                <div class="p2 ">June 18,2007 14:00~15:00</div>
                                <div class="p5">complete
                            </div>
                        </div>
                    </li>
                  
                     <li>
                        <div class="secolo">
                            <input type="checkbox" name="" id="" value="" /> Session5:
                            <div class="times">
                                <div class="p2 ">unselect</div>
                                <div class="p5">could be completeunselect</div>
                            </div>
                           
                       </div>
                    </li>
                    <li>
                        <div class="secolo">
                            <input type="checkbox" name="" id="" value="" /> Session5:
                             <div class="times">
                                <div class="p2 ">unselect</div>
                                <div class="p5">could be completeunselect</div>
                            </div>
                       </div>
                    </li>
                </ul>

                <div class="refund-btn clearfix">
                    <div class="items-refund pull-left">
                        $400,REFUND
                    </div>
                    <div class="lab">点击查看订单详情</div>
                </div>

                <div class="tips clearfix">
                    <span>warning tips</span>
                    <p>choose the seesions to refund, completed sessinon, or session in 6 hour is not allowed to refund</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
