<!-- header -->
<link href="lib/css/account.css" rel="stylesheet">
<link href="lib/css/media.css" rel="stylesheet" />
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <sidebar active="" class="sidebar-wrap"></sidebar>
        <div class="content-wrap">
            <div class="tabs clearfix">
                <a class="tab-item pull-left active">Refund</a>
            </div>
            <div class="order-header">
                <div class="text-h2">Successful appointment</div>
                <p>{{refund_meta.can_refund_num}} Sessons to refund</p>
            </div>
            <div class="list-group">
                <div class="list-group-item clearfix" ng-class="{'text-success':refund.status == '1','text-primary':refund.status=='20' && refund.refund_status=='10','text-danger':refund.status=='3' && refund.refund_status=='10'}" ng-repeat="refund in refunds">
                    <!-- 退款完成 -->
                    <div ng-if="refund.refund_status=='31'" ng-class="{'text-success':refund.refund_status=='31'}">
                        <div class="col-xs-3">
                            <i class="btn fa" ng-class="{' fa-check-square-o':refund.selected,' fa-square-o':!refund.selected}" ng-click="select(refund)" ng-if="refund.refund_status=='10'"></i>
                            <span class="btn">session</span>
                        </div>
                        <div class="col-xs-6"><span class="btn">{{refund.schedule_data}} {{refund.schedule_hours}}</span></div>
                        <div class="col-xs-3 text-right"><span class="btn">finish</span></div>
                    </div>
                    <!-- 退款中 -->
                    <div ng-if="refund.refund_status=='2'" ng-class="{'text-primary':refund.refund_status=='2'}">
                        <div class="col-xs-3">
                            <i class="btn fa" ng-class="{' fa-check-square-o':refund.selected,' fa-square-o':!refund.selected}" ng-click="select(refund)" ng-if="refund.refund_status=='10'"></i>
                            <span class="btn">session</span>
                        </div>
                        <div class="col-xs-6"><span class="btn">{{refund.schedule_data}} {{refund.schedule_hours}}</span></div>
                        <div class="col-xs-3 text-right"><span class="btn">pending</span></div>
                    </div>
                    <!-- 可以退款 -->
                    <div ng-if="refund.refund_status=='10'" ng-class="{'text-danger':refund.refund_status=='10'}">
                        <div class="col-xs-3">
                            <i class="btn fa" ng-class="{' fa-check-square-o':refund.selected,' fa-square-o':!refund.selected}" ng-click="select(refund)" ng-if="refund.refund_status=='10'"></i>
                            <span class="btn">session</span>
                        </div>
                        <div class="col-xs-6"><span class="btn">{{refund.schedule_data}} {{refund.schedule_hours}}</span></div>
                        <div class="col-xs-3 text-right"><span class="btn">could be refund</span></div>
                    </div>
                </div>
            </div>
            <div class="drawback">
                <div class="refund-btn clearfix">
                    <div class="items-refund pull-left" ng-click="refund()" ng-if="refund_meta.can_refund_num>0">
                        Refund {{total_refund_money|currency:"$"}}
                    </div>
                    <a class="lab" ng-href="#/order?id={{order.orders_id}}">点击查看订单详情</a>
                </div>
                <div class="tips clearfix">
                    <span>warning tips</span>
                    <p>choose the seesions to refund, completed sessinon, or session in 6 hour is not allowed to refund</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
