<!-- header -->
<div ng-include="'templates/header.html'"></div>
<div class="about-poster"></div>
<div class="wrap">
    <h1 class="text-center">Session Canceled and Refund Policy</h1>
    <div class="section">
        <div class="section-content">
            This Session Canceled and Refund Policy explain how you could cancel your session and get your refund due to schedule conflict or whether you feel the coach does not fit you.
            <h3>Session cancel</h3>
            <p>There are two time frame for you to book your course, the time you purchasing our service and the time you have made your payment. Session Cancel means our coach already confirm your book, but due to some reasons you want to cancel session schedule, in this case, you need to contact us by email or call 24 hours before the session begin, our customer service would help you cancel your schedule.</p>
            <h3>Session refund</h3>
            <p>There are two time frame for you to book your course, the time you purchasing our service and the time you have made your payment. Session Cancel means our coach already confirm your book, but due to some reasons you want to cancel session schedule, in this case, you need to contact us by email or call 24 hours before the session begin, our customer service would help you cancel your schedule.</p>
            <h3>Session cancel</h3>
            <p>You are eligible to apply for sessions refund before you book your course, log in your account and go to order dashboard, you could see a refund button below your order, click and go to the refund page, we would show all available session so you can choose how many sessions you want to refund.</p>
            <p>If your course already confirm or complete and you are dissatisfied with our coach for any reason, please contact us within two days of the date you book the session and we will provide you a refund of purchase price unless it is a special offer or promotion. If you do not have any complaint with terms of this section, Skillopedia will not issue a refund.</p>
            <h3>Refund amount calculation</h3>
            <p>For example, if one sessions of our coach is $30, and 5 session package is 140. If our client is eligible to have 4 sessions refund, then the refund amount is $110($140-$30). One time service fee is used for maintain our coach and service, one time service fee would not refund at this situation.</p>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
