<div class="sidebar">
    <div class="section">
        <div class="sidebar-avatar">
            <img src="images/avatar.png" alt="">
        </div>
    </div>
    <div class="sidebar-list">
    	<div class="sidebar-item-header clearfix">
    		Home page
    		<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    	</div>
    	<div class="sidebar-item sub-item active clearfix">
    		Courses
    		<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    	</div>
    	<div class="sidebar-item sub-item clearfix">
    		Comments
    		<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    	</div>
    	<div class="sidebar-item sub-item clearfix">
    		Steps
    		<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    	</div>
    	<div class="sidebar-item clearfix">
    		Shoppingcart
    		<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    	</div>
    	<div class="sidebar-item clearfix">
    		Order
    		<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    	</div>
    	<div class="sidebar-item clearfix">
    		Start your new life from here
    		<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    	</div>
    	<div class="sidebar-item clearfix">
    		My Favourite
    		<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    	</div>
    	<div class="sidebar-item clearfix">
    		Message
    		<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    	</div>
    	<div class="sidebar-item clearfix">
    		Coupon
    		<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    	</div>
    </div>
</div>
