<!-- header -->
<link href="lib/css/account.css" rel="stylesheet"> 
<link href="lib/css/media.css" rel="stylesheet" />
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <div ng-include="'templates/sidebar.html'" class="sidebar-wrap"></div>
        <div class="content-wrap">
        	<div class="tabs clearfix">
                <a class="tab-item pull-left active">Published</a>
                <a class="tab-item pull-left">Draft</a>
            </div>
            <div class="itemswrap">
                <a class="items">
                    <div class="items-imgbox">
                         <img src="images/step.jpeg" class="full-width">
                    </div>
                    <div class="items-info">
                       <span>Expreience Title </span>
                        <label>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laudantium reiciendis, eos blanditiis. Beatae praesentium sint recusandae quam blanditiis molestias eligendi quidem dolores delectus non odio, amet reiciendis similique nihil.</label>
                        <em>
                            Jun 12, 2015 
                            <strong><i class="fa fa-pencil" aria-hidden="true"></i>Edit</strong>
                        </em>
                    </div>
                </a>
            </div>

           
                <!-- <a ng-href="#/create_step" class="btn">发布经历</a> -->
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
