.tabs {
    border-bottom: 3px solid #f1f1f1;
    margin-bottom: 15px;
    .tab-item {
        position: relative;
        padding: 15px 30px;
        text-align: center;
        .link();
    }
    .tab-item.active {
        color: @brand-primary;
        &::before {
            content: "";
            position: absolute;
            height: 3px;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: @brand-primary;
        }
    }
}

.detail-left .coach-item {
    height: auto;
    .coach-info {
        &:hover {
            background-color: white;
        }
    }
    .coach-info p {
        height: auto;
    }
}

.coach-item {
    display: block;
    position: relative;
    padding-left: 110px;
    margin-bottom: 15px;
    height: 100px;
    overflow: hidden;
    color: #494949;
    .link();
    .coach-avatar {
        position: absolute;
        left: 0;
        top: 0px;
        width: 110px;
        height: 100px;
        padding: 15px;
        background-color: #f3e7d9;
        .box-sizing(border-box);
        text-align: center;
        img {
            width: 80%;
        }
    }
    .coach-info {
        padding: 0px 15px;
        font-size: 18px;
        font-weight: 100;
        p {
            margin-top: 0;
            margin-bottom: 8px;
            line-height: 26px;
            height: 52px;
            overflow: hidden;
        }
        .transition(background ease-out 0.5s);
        &:hover {
            background-color: #f1f1f1;
        }
    }
    .star {
        color: #c1c1c1;
    }
    .star i.active {
        color: @brand-primary;
    }
    .coach-meta {
        color: #c1c1c1;
        font-size: 14px;
        font-weight: 100;
        i {
            margin-right: 5px;
        }
        span {
            margin-right: 15px;
        }
    }
}

.conditions {
    padding: 15px;
    background-color: #f1f1f1;
    margin-right: 15px;
    margin-bottom: 15px;
    .condition {
        display: inline-block;
        padding: 8px;
        text-align: center;
        color: #a0a0a0;
        &.active {
            color: @brand-primary;
        }
        &.select {
            padding: 4px 10px;
            margin-top: 8px;
            color: @brand-primary;
            border: 1px solid @brand-primary;
        }
    }
}
.about-poster {
    height: 200px;
    padding: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/about_bg.png");
    background-size: 70%;
    background-color: #292929;
}
.contact-body {
    background-color: #f0eeee;
}