.calendar {
	color: #494949;
	border: 1px solid @brand-second;
	.calendar-day {
		padding: 15px;
		text-align: center;
	}
	.calendar-times {
		clear: both;
	}
	.calendar-time {
		position: relative;
		float: left;
		width: 25%;
		padding: 15px 10px;
		.box-sizing(border-box);
		border: 1px solid @brand-second;
		text-align: center;
		i {
			position: absolute;
			right: 2px;
			bottom: 2px;
			color:@brand-primary;
		}
		&.state_1 {
			
		}
		&.state_2 {
			// color:@brand-primary;
			background-color: @brand-second;
			i {
				display: block;
			}
		}
		&.state_3 {
			color:@brand-second;
		}
	}
	.hour {
		display: block;
		font-size: 14px;
	}
	.plan {
		font-size: 12px;
	}
	
}