body {
	font-family: MyriadPro, "微软雅黑";
}
.wrap {
	position: relative;
	width: 100%;
	max-width: 1160px;
	// min-width: 960px;
	padding:15px;
	margin: auto auto;
	.box-sizing(border-box);
}
.section {
    display: block;
    margin:50px auto;
    .clearfix();
    .section-title {
    	margin-bottom: 15px;
    	font-size: 20px;
    	padding-left: 15px;
    	border-left: 3px solid @brand-primary; 
    }
}
.section.sm {
	margin: 25px auto;
}
.full-width {
    width: 100%;
    .box-sizing(border-box)
}
.clearfix {
	.clearfix();
}
.text-big {
	font-size: 36px;
}
.hide {
	display: none;
}
.block {
	display: block;
}
.hidden {
	display: none !important;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-center {
	text-align: center;
}