.full-width {
    width: 100%;
}
.clearfix {
	.clearfix();
}
.text-big {
	font-size: 36px;
}
.hide {
	display: none;
}
.block {
	display: block;
}
.hidden {
	display: none !important;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-center {
	text-align: center;
}