.detail-section {
	position: relative;
	padding-right: 420px;
	min-height: 768px;
	.detail-right {
		position: absolute;
		right: 0;
		width: 380px;
		top: 0;
	}
}
.line {
	height: 1px;
	background-color: #f1f1f1;
}
.settlement {
	padding: 15px;
	background-color:@brand-second;
	p.price {
		margin: 15px;
		font-size: 30px;
		color: @brand-primary;
	}
	.btn {
		width: 25%;
	}
	.settlement-action span {
		display: inline-block;
		padding: 0 8px;
	}
}
.image-gallaxy {
	.image {
		display: inline-block;
		width: 150px;
		height: 100px;
		margin-right: 5px;
		margin-bottom: 5px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
}
.videos {
	.video {
		display: inline-block;
		width: 308px;
		height: 200px;
		margin-right: 5px;
		margin-bottom: 5px;
		overflow: hidden;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}
.map {
	width: 100%;
	min-height: 300px;
	border: 1px solid #dcdcdc;
}