// footer
.footer {
    font-weight: 100;
    padding: 10px;
    margin-top: 50px;
    line-height: 26px;
    background-color: #292929;
    color: white;
}

.footer .footer-left {
    float: left;
    width: 70%;
}

.footer .footer-right {
    float: left;
    width: 30%;
}

.footer .links {
    margin-bottom: 80px;
}

.footer .links .links-item {
    display: inline-block;
    padding: 15px 15px 15px 0;
    .link();
}
.share-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    background-color:#a1a1a1;
    color: white;
}
.footer .about {
    padding: 15px 0;
}

.footer a {
    color: white;
}

.footer .copyright {
    color: @gray;
}