.toast {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: fade(black, 50%);
    display: none;
    z-index: 1000;
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
    }
}

#nprogress .bar {
    // background: @brand-primary;
}

#nprogress .spinner-icon {
    // border-top-color: @brand-primary;
    // border-left-color: @brand-primary;
}
